ENVIRONMENT=development
API_PORT=7777
AWS_REGION="us-east-1"

### DOCKER ### 
SQS_ENDPOINT="http://localstack:4566"
DATABASE_URL=postgres://test_postgres:postgres123@postgres:5432/wagering_postgres?sslmode=disable

POSTGRES_USER=test_postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=wagering_postgres
