ENVIRONMENT=development
API_PORT=7777
DATABASE_URL=postgres://test_postgres:postgres123@localhost:5432/wagering_postgres?sslmode=disabled
AWS_REGION="us-east-1"
SQS_ENDPOINT="http://localhost:4566"

### DOCKER ### 
# SQS_ENDPOINT="http://localstack:4566"
# DATABASE_URL=postgres://test_postgres:postgres123@postgres:5432/wagering_postgres?sslmode=disabled

POSTGRES_USER=test_postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=wagering_postgres

